.app {
    display: flex;
    flex-direction: row;
    align-items: initial;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
}

button {
    background-color: white; /* Green */
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: flex-start;
    align-content: flex-start;
}

.toolbar > div {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    filter: drop-shadow(3px 3px 3px #222)
}

.toolbar > div:hover {
    opacity: 0.85;
}

.toolbar > button {
    margin: 15px auto;
    width: calc(100% - 20px);
}

.editor {
    display: flex;
    flex-direction: column;
    width: calc(50% - 140px);
}

.editor > div {
    height: 130px;
    padding: 5px 10px;
    margin: 5px 10px;
    width: auto;
    filter: drop-shadow(3px 3px 3px #222)
}

.editor > div sup {
    color: darkslategray;
}

.editor > div textarea {
    resize: none;
    margin: 10px 0;
    width: 100%;
    z-index: 3;
    color: black;
    background-color: white;
}

.editor > div textarea:read-only {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    opacity: 0.5;
    outline: 0;
}

.editor > div:hover {
    cursor: pointer;
}

.viewer {
    display: flex;
    flex-direction: column;
    width: calc(50% - 140px);
}

.viewer > div {
    padding: 5px 10px;
    margin: 5px 10px;
    width: auto;
    filter: drop-shadow(3px 3px 3px #222)
}

.viewer > div img {
    filter: drop-shadow(3px 3px 3px #222);
}
